.SelectedArtistsPane {
    width: 50%;
    height: 100%;
    padding-top: 20px;
    float: left;
}

.sa-list-container {
    margin: auto;
    height: 270px;
    width: 85%;
    padding: 15px;
    overflow-y: auto;
  }

  .SelectedArtistsPane .ant-card-body {
    padding: 0px;
    height: calc(100% - 106.5px);
}