.sa-list-container {
    margin: auto;
    height: 270px;
    width: 85%;
    padding: 15px;
    overflow-y: auto;
  }

.SelectedArtistsPane .ant-card-body {
    padding: 0px;
    height: calc(100% - 106.5px);
}

.ant-card {
    background-color: rgb(28, 28, 28);
}

.ant-card-head {
    color: white;
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}

.ant-list-item {
    padding: 12px 24px;
}

.ant-list-split .ant-list-item {
    border-bottom: 1px solid hsla(0,0%,100%,.3);
}

.ant-list-item:hover {
    background-color: hsla(0,0%,100%,.3);
}

.ant-list-item-meta-title {
    color: white;
    font-size: 15px;
    margin-bottom: 0px;
}

.ant-list-item-meta-description {
    color: #b3b3b3;
}

::-webkit-scrollbar {
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}