body {
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.ant-list-item-meta-description {
  padding: 0px 2px 0px 2px;
}

.ant-layout, .ant-layout .ant-layout-has-sider{
  background-color: white;
}

.ant-menu-horizontal > .ant-menu-item > a {
  color: white;
}

.ant-menu-horizontal > .ant-menu-item > a:hover {
  color: #1ed760;
}

::-webkit-scrollbar {
  background: transparent;  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.3);
}