.App {
  text-align: center;
  height: calc(100vh - 64px);
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #eee;
  font-family: Helvetica, Arial;
  font-size: 3vmin;
}

.hidden {
  display: none;
}

/** Buttons **/

.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid #1ecd97;
  color: #1ecd97;
  cursor: pointer;
  font-size: 3vmin;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  transition: all 0.25s ease;
}

.btn:hover {
  background: #1ecd97;
  color: #333;
}

.ant-list-item-meta-description {
  padding: 0px 2px 0px 2px;
}

.ant-layout, .ant-layout .ant-layout-has-sider{
  background-color: white;
}